fettestenv
.vscode
install.sh
.DS_Store
Fall 2020 Juniors Scheduling (1)_timetable.csv
FET Schedule Input Files 2020-2021 - FET Students - Juniors - New Te.csv
FET Schedule Input Files 2020-2021 - FET Students - Juniors (1).csv
outputFile.csv
outputFile.json
rip_fet_timetable_ver01.py
STEM Juniors Fall 2020 New Teams_timetable.csv
Template for FET-Generated Timetable - Sheet1.csv
Fall 2020 Juniors Scheduling.fet
